# flyctl launch added from .gitignore
.vscode
.mypy_cache
**/**/__pycache__
**/**/*.pyc
**/**/*.pyo

.env
.env.local

**/**/.DS_Store

# flyctl launch added from .mypy_cache/.gitignore
# Automatically created by mypy
.mypy_cache/**/*
fly.toml
